.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    position: static !important;
}

.css-1oqz257-MuiList-root{
    padding-top: 0 !important;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 35px !important;
}

.css-10hburv-MuiTypography-root{
    font-size: 14px !important;
}