.custom {
    font-size: 14px;
    display: block;
}

@media all and (max-width:1100px) {
    .custom{
        font-size: 12px;
    }
}
.custom-Menu{
    display: none;
}

.custom-SideBar{
    width: 20%;
}

.custom-container{
    width: 80%;
}

@media all and (max-width:980px) {
    .custom{
        display: none;
    }
    .custom-heading{
        display:none;
    }
    .custom-Menu{
        display: block;
    }
    .custom-SideBar{
        width: fit-content;
    }
    .custom-container{
        width: 100%;
    }
}