@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
